*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-shadow: 2px 2px 2px deeppink, 2px 2px 2px blue;
    font-size: 3rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    gap: 2rem;
}

.user_input_container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem;
    margin: 0.2rem;
    font-size: 0.9rem;
    background-color: rgb(32, 28, 35);
    border: 2px solid black;
    color: grey;
    border-radius: 4px;
}

button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem;
    margin: 0.2rem;
    font-size: 0.9rem;
    background-color: rgb(32, 28, 35);
    border: 2px solid black;
    color: grey;
    border-radius: 4px;
    cursor: pointer;
}

span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
}

.progress_container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid blueviolet;
    background-color: rgba(27, 96, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    background: conic-gradient(blueviolet var(--progress, 0%), rgba(58, 18, 94, 0.584) 0%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stats_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}